*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Comic Neue', cursive;
}

header{
    
}

h1,h2.h3,h4,h5,h6{
    font-weight: bold;
    
}

.container{
    max-width: 1000px;
    background-color: #EBDEF0;
    margin: 0 auto;
    padding:10px;
}

.nac{
    float: left;
    padding: 10px;
    font-size: 15px;

}
.nav{
    
    float: right;
    padding: 15px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    display: block;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    color: white;
    background-color: #BB8FCE  ;
}
.clear{
    clear: both;
}

hr{
    border: solid 3px white;
    width: 100%;
    margin:  auto;
    border-bottom: none;
    
}
.image{
    padding: 5px;
    margin: 10px auto;

}
.Covid19{
    float: right;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.Covid19 ul li{
    list-style: none;
    display: list-item;
}
.Covid19 ul li a {
    display: block;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    height: 80px;
}

.Covid19 ul li a:hover{
    color: purple;
    background-color: white ;
}

.container2{
    text-align: center;
    background-color: #EBDEF0 ;
    margin: 0 auto;
    max-width: 1000px;
    padding:10px; 
}
.container2 span{
    text-transform: uppercase;
    display: block;
    font-family: sans-serif;

}
.text{
    color: #34495E ;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    background: #EBDEF0;
    position: relative;
    text-align: center;
    animation: text 3s 3; 
    padding: 0px;
}
.text2{
    font-size: 35px;
    color: #9B59B6  ;
    margin-bottom: 0px;
    font-weight: bold;
    
}
.text3{
    font-size: 48px;
    color: darkslateblue;
    letter-spacing: 2px;
    margin-bottom: 0px;
    background: #EBDEF0;
    position: relative;
    text-align: center;
    animation: text 3s 3;
    font-weight: bold;
    padding: 0px;
}
@keyframes text{
    0%{
    color:  #EBDEF0;
    margin-bottom: -40px;
    }

    30%{
        letter-spacing: 20px;
        margin-bottom: -40px;
    }

    85%{
        letter-spacing: 5px;
        margin-bottom: -40px;
    }
}

.container3{
    max-width: 1000px;
    background-color: #EBDEF0;
    margin: 0 auto;
    padding:10px;
    
}
main{
    
}
.left{
    
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: transparent;
    color: #9B59B6;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.left ul li{
    
    margin-top: 0;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #CF4542;
    display: list-item;
    list-style: none;
    font-family: 'Comic Neue', cursive;
    float: left;
    width: 30.33%;
    text-align: center;
}
.left ul li:hover{
    
    background-color: white ;
}
.pro_image{
    height: 120px;
    width: 100;
    border: 3px solid black;
    border-radius: 10%;
       
}
.down{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: transparent;
    color: #9B59B6;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

}
.down ul li{
    margin-top: 0;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #CF4542;
    display: list-item;
    list-style: none;
    font-family: 'Comic Neue', cursive;
    float: left;
    width: 18%;
    text-align: center;
}
.down ul li:hover{
    
    background-color: white ;
}
.aw{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: #412323;
    text-transform: uppercase;
    text-align: center;
    
}
.aw ul li{
    padding: 15px;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    color: #CF4542;
    
}
.d{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: #412323;
    text-transform: uppercase;
    text-align: center;
}

.h{
    
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: transparent;
    color: #9B59B6;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.img{
    height: 50px;
    width: 80px;

}
.h ul li{
    
    margin-top: 0;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #CF4542;
    display: list-item;
    list-style: none;
    font-family: 'Comic Neue', cursive;
    float: left;
    width: 10%;
    text-align: center;
    text-decoration: none;
}

.h ul li a{
    text-decoration: underline;
    text-align: center;
    color: #CF4542;

}

.earth{
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(https://www.power-eng.com/wp-content/uploads/sites/13/2020/03/outbreak-coronavirus-world.png);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 20px -20px 50px 2px #000 inset, 0 0 20px 2px white;
    animation: spin 30s linear alternate infinite;
}

@keyframes spin{
    100%{background-position: 100%;}
}
.t{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.t p a{
    
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
    color: #CF4542;
    font-size: 20px;

}
.help{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: #412323;
    text-transform: uppercase;
    text-align: center;
}
.iedcr h1 a{
    text-align: left;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    color: #CF4542;
    

}
.hotline{
    width: 100%;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    float: left;
    color: #000000;
}
.hotline2{
    width: 100%;
    float: left;
    color:rgb(7, 7, 7);

}
.hotline2 p {
    width: 100%;
    text-align: left;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-align: left;
}
.info{
    width: 40%;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    float: left;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}
.info ul li{
    float: left;
    padding: 15px;
    text-decoration: none;
    list-style: none;
}
.info ul li a{
    display: block;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
  }

  /* Style all font awesome icons */
  
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram{
      background: #125688;
      color: white;
  }

  .info2{
    width: 50%;
    text-align: left;
    padding: 20px;
    margin-top: 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    float: right;
    color: #000000;
    
    text-decoration: none;
    

  }
  .clear{
    clear: both;
}
